# Keys and secrets
.env
*.key
*.pem

# IDEs
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# Project specific
node_modules/
dist/
build/
config.b64
*.exe
__pycache__/
*.pyc
*.log
*.csv
release_build/ 
venv/  
